a{
    color: #095066;
    text-decoration: none;
   
}
body{
    background-image:   linear-gradient(to right , rgb(142, 226, 180) ,rgb(120, 132, 151));
}
.list-group-item+.list-group-item{
    margin:5px;
}

.list-group-item-primary{
    margin: 5px;
}
.list-group-item-primary.list-group-item-action:hover {
   border:2px solid red ;
   border-radius: 1%;;
    font-size: large;
    margin: 3px;
    background-color: #34d077;
}
.list-group-item-action{
    width: 98%;
}




body{
    margin: 0;
    padding: 0;
   
}

body::before{
    content: "";
    width: 100%;
    height: 100%;
    top:0px;
    position: absolute;
    /* background-image: url('https://images.squarespace-cdn.com/content/v1/59ed35286957da4fe1b0d2be/1537480902575-0TR8HAM467542XEJ1MZS/ke17ZwdGBToddI8pDm48kEeaiNlUN6NBTfOiaBw39VV7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegUHTdnVC_qPdOC7QU7vDC-VrHEoJNjHvJ8C-nM2hlkiesm8fpB3zYw4SZR-AlygA/WS+Himalaya+Main+Page+Top+DSC_2186.jpg?format=2500w') ; */
    z-index: -1;
}
.header_nav{
    background-color: blueviolet;
    padding: 5px;
}
ul{
    display: flex;
    justify-content: center;
    
    flex-direction: row;
}
li{
    list-style: none;
    padding: 0px 30px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
a{
    text-decoration: none;
}
h2{
    color: rgb(250, 16, 106);
    text-align: center;
    text-decoration:underline;
}



.header{
   
    position: relative;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 12px;
    padding: 18px;
    font-size: large;
    background: #2bbbbf;
}

p{
    color: blueviolet;
    font-size: x-large;
}

.bg-primary{
    position: relative;
    left:-6px;
}

.time{
    position: relative;
    left: 15px;
    color: brown;
    font-size:medium ;
    font-weight: bolder;
}